schema/GLR_2_1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- This XML schema is generated with tpegUMLconverter 3.2, at 2021-04-07 11:02, on basis of release 2.1 -->
<xs:schema xmlns="http://www.tisa.org/TPEG/GLR_2_1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tsf="http://www.tisa.org/TPEG/SFW_1_1" xmlns:tdt="http://www.tisa.org/TPEG/TPEGDataTypes_2_1" targetNamespace="http://www.tisa.org/TPEG/GLR_2_1" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:import namespace="http://www.tisa.org/TPEG/SFW_1_1" schemaLocation="SFW_1_1.xsd"/>
	<xs:import namespace="http://www.tisa.org/TPEG/TPEGDataTypes_2_1" schemaLocation="TDT_2_1.xsd"/>
	<xs:element name="GeographicLocationReference" type="GeographicLocationReference"><xs:annotation><xs:documentation>Geographic Location Reference: toolkit component for simple geographic location references.
 This component shall contain only one single type of the various provided types of geographic location references.</xs:documentation></xs:annotation></xs:element>
	<xs:complexType name="GeographicLocationReference">
		<xs:annotation><xs:documentation>Geographic Location Reference: toolkit component for simple geographic location references.
 This component shall contain only one single type of the various provided types of geographic location references.</xs:documentation></xs:annotation><xs:complexContent>
			<xs:extension base="tsf:ApplicationRootMessageML">
				<xs:sequence>
					<xs:element name="geographicBoundingBox" type="GeographicBoundingBox" minOccurs="0"><xs:annotation><xs:documentation>BoundingBox-type geographic location reference.</xs:documentation></xs:annotation></xs:element>
					<xs:element name="geographicBoundingSector" type="GeographicBoundingCircleSector" minOccurs="0"><xs:annotation><xs:documentation>Bounding area geographic location reference as sector of a circle or complete circle.</xs:documentation></xs:annotation></xs:element>
					<xs:element name="geographicPointReference" type="GeographicPointReference" minOccurs="0"><xs:annotation><xs:documentation>Point-type geographic location reference.</xs:documentation></xs:annotation></xs:element>
					<xs:element name="geographicLineReference" type="GeographicLineReference" minOccurs="0"><xs:annotation><xs:documentation>Line-type geographic location reference.</xs:documentation></xs:annotation></xs:element>
					<xs:element name="geographicAreaReference" type="GeographicAreaReference" minOccurs="0"><xs:annotation><xs:documentation>Area-type geographic location reference.</xs:documentation></xs:annotation></xs:element>
					<xs:element name="geographicAreaWithHolesReference" type="GeographicAreaWithHolesReference" minOccurs="0"><xs:annotation><xs:documentation>Area-type geographic location reference.</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeographicAreaReference">
		<xs:annotation><xs:documentation>Geographic Area specified as a polygon. 
 A GeographicAreaReference shall include at most one of the attributes "areaFeatureName" and "hierarchicalAreaFeatureName", but not both.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="polygonPoints" type="Coordinate" minOccurs="3" maxOccurs="unbounded"><xs:annotation><xs:documentation>A sequence of points forming a closed, simple (i.e. non-self intersecting) contour of a geographic polygon. 
 The polygon contour is formed by line segments connecting the successive points, and finally the polygon contour is closed by the line segment connecting the last point to the first point.
 The resulting area polygon shall be non-self intersecting.
 Recommended is a counter-clockwise order of the coordinates in a (exterior) polygon.
   
 Recommended is to limit the number of points of the polygon to 32 or less.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="isFuzzyArea" type="tdt:Boolean"><xs:annotation><xs:documentation>If set, the "isFuzzyArea" attribute indicates that the polygon shape represents a fuzzy area, i.e. is the polygon shape is an approximate description of the location of the referenced feature.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="altitudeMSL" type="tdt:IntSiLoMB" minOccurs="0"><xs:annotation><xs:documentation>Average elevation of location in metres above/below Mean Sea Level (MSL).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="areaFeatureName" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Feature name of the area reference in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="hierarchicalAreaFeatureName" type="HierarchicalAreaName" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Attribute to express area name(s) as hierarchical feature name. Several hierarchical area names are allowed to express e.g. a region of a number of countries, or a number of states.
 Each such hierarchical area name structure indicates the local language of interest. Multiple hierarchical area names in a single local language may be supplied.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeographicAreaWithHolesReference">
		<xs:annotation><xs:documentation>Geographic Area with Holes specified as a exterior polygon and interior polygons representing the holes. 
 A GeographicAreaWithHolesReference shall include at most one of the attributes "areaFeatureName" and "hierarchicalAreaFeatureName", but not both.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="exteriorPolygon" type="Polygon"><xs:annotation><xs:documentation>Exterior polygon of the geographic area. The recommended order of the coordinates is counter-clockwise for this exterior polygon.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="interiorPolygons" type="Polygon" maxOccurs="unbounded"><xs:annotation><xs:documentation>Interior polygon of the geographic area, indicating a hole in the area. The recommended order of the coordinates is clockwise for the interior polygon. Interior polygons (if more than one present) shall not intersect not touch another.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="isFuzzyArea" type="tdt:Boolean"><xs:annotation><xs:documentation>If set, the "isFuzzyArea" attribute indicates that the polygon shape represents a fuzzy area, i.e. is the polygon shape is an approximate description of the location of the referenced feature.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="altitudeMSL" type="tdt:IntSiLoMB" minOccurs="0"><xs:annotation><xs:documentation>Average elevation of location in metres above/below Mean Sea Level (MSL).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="areaFeatureName" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Feature name of the area reference in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="hierarchicalAreaFeatureName" type="HierarchicalAreaName" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>Attribute to express area name(s) as hierarchical feature name. Several hierarchical area names are allowed to express e.g. a region of a number of countries, or a number of states.
 Each such hierarchical area name structure indicates the local language of interest. Multiple hierarchical area names in a single local language may be supplied.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeographicBoundingBox">
		<xs:annotation><xs:documentation>Geographic Area as bounding box. A bounding box area is always an approximate geometric description including completely the actual location of an area or a collection of point locations intended to be referenced.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="northWestCorner" type="Coordinate"><xs:annotation><xs:documentation>Co-ordinate of the North West Corner of the bounding box enclosing the area.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="southEastCorner" type="Coordinate"><xs:annotation><xs:documentation>Co-ordinate of the South East Corner of the bounding box enclosing the area.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="altitudeMSL" type="tdt:IntSiLoMB" minOccurs="0"><xs:annotation><xs:documentation>Average elevation of location in metres above/below Mean Sea Level (MSL).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="areaFeatureName" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>(optional) Feature name of the area in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeographicBoundingCircleSector">
		<xs:annotation><xs:documentation>Geographic bounding area as a complete circle or a sector of a circle. 
 A bounding circle (or sector of a circle) area is always an approximate geometric description, including completely the actual location of an area location or a collection of point locations intended to be referenced.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="centerPoint" type="Coordinate"><xs:annotation><xs:documentation>Co-ordinate of centre point of the bounding circle enclosing the area.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="radius" type="tdt:DistanceMetres"><xs:annotation><xs:documentation>Radius of the bounding circle enclosing the area.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="circleSector" type="CircleSector" minOccurs="0"><xs:annotation><xs:documentation>Optional attribute to limit bounding area to only a sector of the complete circle.
 If this attribute is not present the bounding area shall be taken as the complete circle.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="altitudeMSL" type="tdt:IntSiLoMB" minOccurs="0"><xs:annotation><xs:documentation>Average elevation of location in metres above/below Mean Sea Level (MSL).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="areaFeatureName" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>(optional) Feature name of the area in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeographicLineReference">
		<xs:annotation><xs:documentation>Geographic line specified as a poly-line.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="linePoints" type="Coordinate" minOccurs="2" maxOccurs="unbounded"><xs:annotation><xs:documentation>A sequence of points forming a line.
 The polyline shape is formed by line segments connecting the successive points from the first point to the last point.
 The resulting polyline shall be non-self intersecting.
 Recommended is to limit the number of points of the polyline to 32 or less.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="isFuzzyLine" type="tdt:Boolean"><xs:annotation><xs:documentation>If set, the "isFuzzyLine" attribute indicates that the polyline shape represents a fuzzy line, i.e. the polyline is an approximate description of the location of the referenced feature.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="altitudeMSL" type="tdt:IntSiLoMB" minOccurs="0"><xs:annotation><xs:documentation>Average elevation of location in metres above/below Mean Sea Level (MSL).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="lineFeatureName" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>(optional) Feature name of the referenced line location in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeographicPointReference">
		<xs:annotation><xs:documentation>Point-type geographic location reference.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="point" type="Coordinate"><xs:annotation><xs:documentation>(centre) Co-ordinate of the point location reference</xs:documentation></xs:annotation></xs:element>
			<xs:element name="isFuzzyPoint" type="tdt:Boolean"><xs:annotation><xs:documentation>If set, the "isFuzzyPoint" attribute indicates that the supplied WGS-84 co-ordinate represents an approximate location only.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="altitudeMSL" type="tdt:IntSiLoMB" minOccurs="0"><xs:annotation><xs:documentation>Elevation of location in metres above/below Mean Sea Level (MSL).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="pointFeatureName" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>(optional) Feature name of the referenced point location  in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="adjacentRoadDescriptor" type="tdt:LocalisedShortString" minOccurs="0" maxOccurs="unbounded"><xs:annotation><xs:documentation>(optional, if it exists) Name and/or road number of the road adjacent to the location in the local languages of interest.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="adjacentRoadSideTravelDirection" type="tdt:IntUnTi" minOccurs="0"><xs:annotation><xs:documentation>(optional) Approximate direction of travel for the closest side of the adjacent road ((if it exists) at which the point location is located. 
 The adjacentRoadSideTravelDirection is an azimuth angle. It is measured clockwise from Geographic North, and expressed as 360/256 degrees.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CircleSector">
		<xs:annotation><xs:documentation>DataStructure to specify the relevant sector of the circle.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="sectorStartAngle" type="tdt:IntUnTi"><xs:annotation><xs:documentation>Azimuth angle to start of circle sector of interest.
 The sectorStartAngle is measured clockwise from Geographic North, expressed in units of 360/256 degrees.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="sectorEndAngle" type="tdt:IntUnTi"><xs:annotation><xs:documentation>Azimuth angle to end of circle sector of interest.
 The sectorEndAngle is measured clockwise from Geographic North, expressed  in units of 360/256 degrees.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Coordinate">
		<xs:annotation><xs:documentation>Data-structure for specifying geographic coordinates. Coordinates are specified by default in the WGS-84 geodetic system, unless explicitly signalled otherwise at service, or service component, level.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="Longitude" type="tdt:IntSi24"><xs:annotation><xs:documentation>Longitude in standard 24 bit accuracy stores co-ordinates in order of magnitude of 10 micro degrees resolution (five decimals).
 Longitude-in-degrees (longitude in unit degrees) is encoded as follows:
 longitude = int ( sign(longitude-in-degrees)*0.5 + (longitude-in-degrees * (2^24))/360)</xs:documentation></xs:annotation></xs:element>
			<xs:element name="Latitude" type="tdt:IntSi24"><xs:annotation><xs:documentation>Latitude in standard 24 bit accuracy stores co-ordinates in order of magnitude of 10 micro degrees resolution (five decimals).
 Latitude-in-degrees (latitude in unit degrees) is encoded as follows:
 latitude = int ( sign(latitude-in-degrees)*0.5 + (latitude-in-degrees * (2^24))/ 360)</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HierarchicalAreaName">
		<xs:annotation><xs:documentation>Data structure to specify an area as a collection of smaller areas as part of a larger area. Typical usage would be to specify a Province or State as the larger administrative area, and the counties as the smaller administrative areas.
 The supplied languageCode indicates the relevant local language for both the areaName as the detailedAreaNames supplied.
 In certain applications, e.g. weather alerts, affected areas may be specified as such hierarchical areas.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="languageCode" type="tdt:typ001_LanguageCode"><xs:annotation><xs:documentation>Specifies the local language used for the names making up the hierarchical area name.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="areaName" type="tdt:ShortString"><xs:annotation><xs:documentation>Overall feature name of the area reference</xs:documentation></xs:annotation></xs:element>
			<xs:element name="detailAreaName" type="tdt:ShortString" maxOccurs="unbounded"><xs:annotation><xs:documentation>One or more detail area name(s) of the area reference</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Polygon">
		<xs:annotation><xs:documentation>A sequence of points forming a closed, simple (i.e. non-self intersecting) exterior or interior contour of a geographic polygon. 
 The polygon contour is formed by line segments connecting the successive points, and finally the polygon contour is closed by the line segment connecting the last point to the first point.
 The resulting area polygon shall be non-self intersecting.</xs:documentation></xs:annotation><xs:sequence>
			<xs:element name="polygonPoints" type="Coordinate" minOccurs="3" maxOccurs="unbounded"><xs:annotation><xs:documentation>A sequence of points forming a closed, simple (i.e. non-self intersecting) contour of a geographic polygon. 
 The polygon contour is formed by line segments connecting the successive points, and finally the polygon contour is closed by the line segment connecting the last point to the first point.
 The resulting area polygon shall be non-self intersecting.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
